# IceZero FPGA

set_io --warn-no-port clk_100mhz  49
set_io --warn-no-port ok_led      110
set_io --warn-no-port pi_spi_ce0  85
set_io --warn-no-port pi_spi_sck  79
set_io --warn-no-port pi_spi_miso 87
set_io --warn-no-port pi_spi_mosi 90
